**/.gradle
**/.idea
**/build/classes
**/build/generated
**/build/tmp
**/build/test-results
**/build/reports
**/src
.git
.gitignore
.gitattributes
HELP.md
gradlew
gradlew.bat
gradle
**/*.iml
k8s
.claude
